#ifndef PYCTP_TYPES_PY{{ struct.name|upper }}_H
#define PYCTP_TYPES_PY{{ struct.name|upper }}_H

#include "../stdafx.h"
#include <ThostFtdcUserApiStruct.h>

{{ struct.comment|join('\n') }}

typedef struct {
#if PY_VERSION_HEX < 0x030c0000  // Python 3.12
    PyObject_HEAD
#endif // PY_VERSION_HEX
    {{ struct.name }} data;
} Py{{ struct.name }}Data;

extern PyTypeObject *Py{{ struct.name }}Type;
extern int PyCTP_module_add_Py{{ struct.name }}Type_exec(PyObject *module);

#endif
